.pageError-404 {
    font-size: 200px;
    margin-top: 5rem;
    p {
        font-size: 30px;
    }
    .errorLink {
        font-weight: 700;
        font-size: 20px;
        text-decoration-line: underline;
        color: #00bc77;
        margin-top: 10rem;
        text-align: center;
    }
}
