.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding: 5rem;
  .hero-content {
    background-image: url("../../img/bank-tree.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 6.25rem;
    display: flex;
    justify-content: flex-end;
    .text-content {
      padding: 3.125rem;
      background: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 35%;
      .subtitle {
        font-weight: bold;
      }
      .text {
        font-size: 1.2rem;
        text-align: left;
        padding-top: 20px;
      }
    }
  }
}

@media (min-width: 768px) {
  .hero {
    .subtitle {
      font-size: 1.5rem;
    }
    .text {
      font-size: 1.2rem;
    }
  }
}

@media (max-width: 768px) {
  .hero {
    justify-content: center;
    .hero-content {
      .text-content {
        width: 100%;
      }
    }
    .subtitle {
      font-size: 1rem;
    }
    .text {
      font-size: 0.9rem;
    }
  }
}
