.hero {
    background-image: url("../../img/bank-tree.jpeg");
    display: flex;
    align-items: center;
    padding: 5rem;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    .hero-content {
        width: 23rem;
        padding: 2rem;
        background: white;
        .subtitle {
            font-weight: bold;
        }
        .text {
            font-size: 1.2rem;
        }
    }
}

@media (min-width: 768px) {
    .hero {
        justify-content: flex-end;
        height: 25rem;
        .subtitle {
            font-size: 1.5rem;
        }
        .text {
            font-size: 1.2rem;
        }
    }
}

@media (max-width: 768px) {
    .hero {
        justify-content: center;
        .subtitle {
            font-size: 1rem;
        }
        .text {
            font-size: 0.9rem;
        }
    }
}
