/* button nav*/
.main-nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: white;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    color: $greenDarck;
    padding: 10px 0;
}

/*button page profil save/cancel*/
.userButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    .btn {
        background-color: white;
        border: 1px solid $bluepurple;
        color: $bluepurple;
        padding: 10px 0;
        width: 150px;
    }
}

/*button page profil view transaction*/
.transaction-button {
    background-color: $bluepurple;
    color: white;
    border: inherit;
    border-radius: 5px;
    padding: 10px 20px;
}
